process {

    withName: AGGREGATE_RESULTS {
        publishDir = [
            path: { "${params.outdir}/aggregated" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MERGE_PLATFORM_COUNTS {
        tag = { "${meta.platform}" }
        maxForks = 1
    }

    withName: COMPUTE_PLATFORM_STATISTICS {
        tag = { "${meta.platform}" }
        maxForks = 1
    }

}
