process {

    withName: 'EXPRESSIONATLAS_GETACCESSIONS' {
        publishDir = [
            path: { "${params.outdir}/expression_atlas/accessions/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'EXPRESSIONATLAS_GETDATA' {
        publishDir = [
            path: { "${params.outdir}/expression_atlas/datasets/" },
            mode: params.publish_dir_mode
        ]
    }

}
