process {

    withName: DOWNLOAD_ENSEMBL_ANNOTATION {
        publishDir = [
            path: { "${params.outdir}/gene_length" },
            mode: params.publish_dir_mode
        ]
    }

    withName: COMPUTE_GENE_TRANSCRIPT_LENGTHS {
        publishDir = [
            path: { "${params.outdir}/gene_length" },
            mode: params.publish_dir_mode
        ]
    }

}
