process {

    withName: GEO_GETACCESSIONS {
        publishDir = [
            path: { "${params.outdir}/geo/accessions/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GEO_GETDATA {

        publishDir = [
            path: { "${params.outdir}/geo/datasets/" },
            mode: params.publish_dir_mode
        ]

        maxForks = 8 // limiting to 8 threads at a time to avoid 429 errors with the Expression Atlas API server

        errorStrategy = {
            if (task.exitStatus == 100) {
                // ignoring accessions that cannot be retrieved from GEO
                log.warn("Could not retrieve data for accession ${accession}. This could be a transient network issue or a permission error.")
                return 'ignore'
            } else if (task.exitStatus == 101) {
                log.warn("GEO dataset with accession ${accession} contains multiple files.")
                return 'ignore'
            } else if (task.exitStatus == 110) {
                log.warn("GEO dataset for accession ${accession} does not seem normalised.")
                return 'ignore'
            } else if (task.exitStatus == 111) {
                log.warn("GEO dataset for accession ${accession} seems normalised but not log-transformed.")
                return 'ignore'
            } else if (task.exitStatus == 112) {
                log.warn("GEO dataset for accession ${accession} are of unclear origin. Could not infer normalisation state.")
                return 'ignore'
            } else if ( task.exitStatus in ((130..145) + 104 + 175) ) { // override default behaviour to sleep some time before retry
                // in case of OOM errors, we wait a bit and try again (2 retries)
                if ( task.attempt <= 2) {
                    sleep(Math.pow(2, task.attempt) * 2000 as long)
                    return 'retry'
                } else {
                    log.error("${accession} caused Out of Memory error multiple times. Ignoring this accession.")
                    return 'ignore'
                }
            } else {
                return 'ignore'
            }
        }

    }

}
