process {

    withName: GEO_GETACCESSIONS {
        publishDir = [
            path: { "${params.outdir}/geo/accessions/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GEO_GETDATA {
        publishDir = [
            path: { "${params.outdir}/geo/datasets/" },
            mode: params.publish_dir_mode
        ]
    }

}
