process {

    withName: COLLECT_GENE_IDS {
        publishDir = [
            path: { "${params.outdir}/idmapping/collected_gene_ids" },
            mode: params.publish_dir_mode
        ]
    }

    withName: GPROFILER_IDMAPPING {
        publishDir = [
            path: { "${params.outdir}/idmapping/gprofiler" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FILTER_AND_RENAME_GENES {
        publishDir = [
            path: { "${params.outdir}/idmapping/renamed" },
            mode: params.publish_dir_mode
        ]
    }

}
