process {

    withName: 'MERGE_RNASEQ_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/rnaseq/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_MICROARRAY_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/microarray/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_ALL_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/all/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS_FOR_RNASEQ' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/rnaseq/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS_FOR_MICROARRAY' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/microarray/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/all/" },
            mode: params.publish_dir_mode
        ]
    }

}
