process {

    withName: 'NFCORE_STABLEEXPRESSION:STABLEEXPRESSION:MERGE_DATA:PLATFORM' {
        tag = { "${meta.platform}" }
        maxForks = 1
    }

    withName: 'NFCORE_STABLEEXPRESSION:STABLEEXPRESSION:MERGE_DATA:GLOBAL' {
        publishDir = [
            path: { "${params.outdir}/merged_counts" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> 'all_counts.parquet'
            }
        ]
    }

    withName: 'IMPUTE_MISSING_VALUES' {
        publishDir = [
            path: { "${params.outdir}/merged_data" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> 'all_counts.missing_values_imputed.parquet'
            }
        ]
    }

}
