process {

    withName: 'MERGE_RNASEQ_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/rnaseq/" }
        ]
    }

    withName: 'MERGE_MICROARRAY_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/microarray/" }
        ]
    }

    withName: 'MERGE_ALL_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/all/" }
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS_FOR_RNASEQ' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/rnaseq/" }
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS_FOR_MICROARRAY' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/microarray/" }
        ]
    }

    withName: 'COMPUTE_BASE_STATISTICS' {
        publishDir = [
            path: { "${params.outdir}/base_statistics/all/" }
        ]
    }

}
