process {

    withName: 'NORMALISATION_DESEQ2' {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/deseq2/" }
        ]
    }

    withName: 'NORMALISATION_EDGER' {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/edger/" }
        ]
    }

    withName: 'QUANTILE_NORMALISATION' {
        publishDir = [
            path: { "${params.outdir}/quantile_normalised/${meta.dataset}/" }
        ]
    }

}
