process {

    withName: COMPUTE_CPM {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/cpm/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: COMPUTE_TPM {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/tpm/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: QUANTILE_NORMALISATION {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/quantile_normalised/" },
            mode: params.publish_dir_mode
        ]
    }

}
