process {

    withName: COMPUTE_CPM {
        publishDir = [
            path: { "${params.outdir}/normalised/cpm/${meta.dataset}/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: COMPUTE_TPM {
        publishDir = [
            path: { "${params.outdir}/normalised/tpm/${meta.dataset}/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: QUANTILE_NORMALISATION {
        publishDir = [
            path: { "${params.outdir}/normalised/quantile_normalised/${meta.dataset}/" },
            mode: params.publish_dir_mode
        ]
    }

}
