process {

    withName: 'STABLEEXPRESSION:GET_PUBLIC_ACCESSIONS:EXPRESSION_ATLAS' {
        publishDir = [
            path: { "${params.outdir}/accessions/expression_atlas/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STABLEEXPRESSION:GET_PUBLIC_ACCESSIONS:GEO' {
        publishDir = [
            path: { "${params.outdir}/accessions/geo/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STABLEEXPRESSION:DOWNLOAD_PUBLIC_DATASETS:EXPRESSION_ATLAS' {
        publishDir = [
            path: { "${params.outdir}/downloaded/expression_atlas/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'STABLEEXPRESSION:DOWNLOAD_PUBLIC_DATASETS:GEO' {
        publishDir = [
            path: { "${params.outdir}/downloaded/geo/" },
            mode: params.publish_dir_mode
        ]
    }

}
