process {

    withName: EXPRESSIONATLAS_GETACCESSIONS {
        publishDir = [
            path: { "${params.outdir}/public_data/expression_atlas/accessions/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: EXPRESSIONATLAS_GETDATA {

        publishDir = [
            path: { "${params.outdir}/public_data/expression_atlas/datasets/" },
            mode: params.publish_dir_mode
        ]

    }

    withName: GEO_GETACCESSIONS {
            publishDir = [
                path: { "${params.outdir}/public_data/geo/accessions/" },
                mode: params.publish_dir_mode
            ]
        }

        withName: GEO_GETDATA {
            publishDir = [
                path: { "${params.outdir}/public_data/geo/datasets/" },
                mode: params.publish_dir_mode
            ]
        }

}
