process {

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }

    withName: 'DASH_APP' {
        publishDir = [
            path: { "${params.outdir}/reporting/repodash_app/" },
            mode: 'copy',
            saveAs: {
                filename -> ['file_system_backend'].contains(filename) ? null : filename
            }
        ]
    }

}
