process {

    withName: NORMFINDER {
        publishDir = [
            path: { "${params.outdir}/stability_scoring/normfinder/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: COMPUTE_M_MEASURE {
        publishDir = [
            path: { "${params.outdir}/stability_scoring/genorm/" },
            mode: params.publish_dir_mode
        ]
    }

}
