/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: FLYE {
        ext.args = {
            [
                meta.genome_size ? "--genome-size ${meta.genome_size}" : '',
                params.flye_args
            ].join(" ").trim()
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/assembly/flye/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NORMALISATION_DESEQ2' {
        publishDir = [
            path: { "${params.outdir}/${meta.dataset}/normalised/deseq2/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NORMALISATION_EDGER' {
        publishDir = [
            path: { "${params.outdir}/${meta.dataset}/normalised/edger/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'QUANTILE_NORMALISATION' {
        publishDir = [
            path: { "${params.outdir}/${meta.dataset}/quantile_normalised/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_DATA' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }

}
