/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: 'EXPRESSIONATLAS_GETACCESSIONS' {
        publishDir = [
            path: { "${params.outdir}/expression_atlas/accessions/" }
        ]
    }

    withName: 'EXPRESSIONATLAS_GETDATA' {
        publishDir = [
            path: { "${params.outdir}/expression_atlas/datasets/" }
        ]
    }

     withName: 'GEO_GETACCESSIONS' {
        publishDir = [
            path: { "${params.outdir}/geo/accessions/" }
        ]
    }

    withName: 'GEO_GETDATA' {
        publishDir = [
            path: { "${params.outdir}/geo/datasets/" }
        ]
    }

    withName: 'IDMAPPING_GPROFILER' {
        publishDir = [
            path: { "${params.outdir}/idmapping/datasets/" }
        ]
    }

    withName: 'NORMALISATION_DESEQ2' {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/deseq2/" }
        ]
    }

    withName: 'NORMALISATION_EDGER' {
        publishDir = [
            path: { "${params.outdir}/normalised/${meta.dataset}/edger/" }
        ]
    }

    withName: 'QUANTILE_NORMALISATION' {
        publishDir = [
            path: { "${params.outdir}/quantile_normalised/${meta.dataset}/" }
        ]
    }

    withName: 'MERGE_DATA' {
        publishDir = [
            path: { "${params.outdir}/merged_datasets/" }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" }
        ]
    }

}
