/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    It tests the different ways to use the pipeline, with small data

    Use as follows:
        nextflow run nf-core/stableexpression -profile test_one_rnaseq_one_microarray,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test dataset custom gene data profile'
    config_profile_description = 'Minimal test dataset with custom gene metadata to check pipeline function'

    // Input data
    species = 'arabidopsis thaliana'
    eatlas_accessions = 'E-GEOD-52806,E-GEOD-21945'
    skip_fetch_eatlas_accessions = true

    outdir = "results/test_one_rnaseq_one_microarray"
}
